@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary-heading";
  src: url("/fonts/PFSquareSansProBold_35480.woff");
}
@font-face {
  font-family: "primary";
  src: url("/fonts/PFSquareSansProRegular_35489.woff");
}

@layer components {
  .text-animation {
    @apply tran;
  }
}

html,
body,
#root {
  overflow-x: hidden;
}
